[Unit]
Description=booktr
Documentation=https://github.com/aceberg/booktr
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/booktr -c /etc/booktr/config.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target