[Unit]
Description=booktr
Documentation=https://github.com/aceberg/booktr
After=network-online.target
Wants=network-online.target

[Service]
User=%i
ExecStart=/usr/bin/booktr -c /home/%i/.config/booktr/config.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target