/* VARS */
:root {
  --transparent-light: #ffffff15;
}

/* Transparant icon button */
.shade-hover {
  padding: 9px;
  border-radius: 15%;
}
.shade-hover:hover {
  background-color: var(--transparent-light);
  cursor: pointer;
}

.tr-text {
  display:inline-block;
  border: 3px;
  word-wrap:break-word;
  overflow-y:scroll;
  white-space: pre-wrap;
}

.tr-mouse-hover {
  background-color: var(--transparent-light);
}

/* .tr-tooltip {
  text-align: center;
  margin-top: 200px;
  position: "fixed";
  top: "50%";
  left: "50%";
  transform: "translate(-50%, -50%)";
  background-color: #000000da;
  color: "white";
  padding: "10px 15px";
  border-radius: "4px";
  white-space: "nowrap";
  z-index: 1000;
} */