[Unit]
Description=BookTr
Documentation=https://github.com/aceberg/BookTr
After=network-online.target
Wants=network-online.target

[Service]
User=%i
ExecStart=/usr/bin/booktr -d /home/%i/.config/BookTr/
Restart=on-failure

[Install]
WantedBy=multi-user.target