{{ define "translate" }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready (function () {        

        $("#left").scroll(function () {
        $("#right").scrollTop($("#left").scrollTop());
        });
        
        $("#right").scroll(function () {
        $("#left").scrollTop($("#right").scrollTop());
        });
    });
</script>
<style>
    #left {
        width: 47%;
        /* height: 500px; */
        display:inline-block;
        border: 3px;
        word-wrap:break-word;
        overflow-y:scroll;
        white-space: pre-wrap;
    }
    #middle {
        width: 5%;
        display:inline-block;
    }
    #right {
        width: 47%;
        /* height: 500px; */
        display:inline-block;
        border: 3px;
        word-wrap:break-word;
        overflow-y:scroll;
        white-space: pre-wrap;
    }
</style>
</head>
<body>
    <div class="container">
        <br>
        <div class="row">
            <div class="col">
                <div id="left">
                    <p>{{ .Tr.Left }}</p>
                </div>
                <div id="middle"></div>
                <div id="right">
                    <p>{{ .Tr.Right }}</p>
                </div>
            </div>
        </div>
    </div>
{{ template "footer" }}
{{ end }}