{{ define "translate" }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready (function () {        

        var i = 0;
        $("button").click(function(){
                
            $.getJSON("/next/?id=" + i, function(result){
                
                if (result["id"] === i.toString()) {
                    // console.log("ID not empty:"+ result["id"]+"; i = "+i)
                    $("#left").append('<span class="cl'+i+'">'+result["left"]+'</span>');
                    $("#right").append('<span class="cl'+i+'">'+result["right"]+'</span>');

                    i = i + 1;
                }
            });
        });

        $('#left').mouseover(function(){
            var spanClass = $(this).find("span");
            $.each(spanClass, function(index, value){
                $(value).mouseover(function(){
                    var classNumber = $(this).attr("class");
                    // console.log("Found class: " + classNumber)
                    var rightClass = $('#right').find("span");
                    // console.log("Right class: " + rightClass)
                    $.each(rightClass, function(i, val){
                        if ($(val).hasClass(classNumber)) {
                            $(val).addClass('hover');
                        }
                    });
                    $(this).addClass('hover');
                });
            });
        });
        $('#left').mouseout(function(){
            var spanClass = $(this).find("span");
            $.each(spanClass, function(index, value){
                $(this).removeClass('hover');
                var rightClass = $('#right').find("span");
                $.each(rightClass, function(i, val){
                    $(val).removeClass('hover')
                });
            });
        });
    });
</script>
<style>
    #left {
        width: 47%;
        /* height: 500px; */
        display:inline-block;
        border: 3px;
        word-wrap:break-word;
        overflow-y:scroll;
        white-space: pre-wrap;
    }
    #middle {
        width: 5%;
        display:inline-block;
    }
    #right {
        width: 47%;
        /* height: 500px; */
        display:inline-block;
        border: 3px;
        word-wrap:break-word;
        overflow-y:scroll;
        white-space: pre-wrap;
    }
    .hover
    {
        background-color:rgb(32, 103, 255);
    } 
</style>
</head>
<body>
    <div class="container">
        <br>
        <div class="row">
            <button>Next</button>
        </div>
        <div class="row">
            <div class="col">
                <div id="left"></div>
                <div id="middle"></div>
                <div id="right"></div>
            </div>
        </div>
    </div>
{{ template "footer" }}
{{ end }}